[Unit]
Description=PARSEC-encrypted DBus secrets daemon
After=parsec.service
Requires=parsec.service

[Service]
ExecStart=/usr/libexec/dbus-parsec
Type=dbus
BusName=com.github.puiterwijk.dbus_parsec
Environment=STORAGE_DIR=/var/lib/dbus-parsec
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
